# Tizen project
dist/myTV/.sdk_delta.info
dist/myTV/*.wgt
dist/myTV/css/main.css
dist/myTV/js/main.js
dist/myTV/.sign/
dist/myTV/.buildResult/

# Dev
node_modules/
tmp/

# App settings
src/js/settings.js
